{% extends 'base.html.twig' %}

{% block title %}InstrumentGenerale index{% endblock %}

{% block body %}
    <h1>InstrumentGenerale index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Designation</th>
                <th>Code</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for instrument_generale in instrument_generales %}
            <tr>
                <td>{{ instrument_generale.id }}</td>
                <td>{{ instrument_generale.designation }}</td>
                <td>{{ instrument_generale.code }}</td>
                <td>
                    <a href="{{ path('instrument_generale_show', {'id': instrument_generale.id}) }}">show</a>
                    <a href="{{ path('instrument_generale_edit', {'id': instrument_generale.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('instrument_generale_new') }}">Create new</a>
{% endblock %}
