{% extends 'base.html.twig' %}

{% block title %}Persone index{% endblock %}

{% block body %}
    <h1>Persone index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for persone in persones %}
            <tr>
                <td>{{ persone.id }}</td>
                <td>{{ persone.nom }}</td>
                <td>
                    <a href="{{ path('persone_show', {'id': persone.id}) }}">show</a>
                    <a href="{{ path('persone_edit', {'id': persone.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('persone_new') }}">Create new</a>
{% endblock %}
