{% extends 'base.html.twig' %}

{% block title %}Persone{% endblock %}

{% block body %}
    <h1>Persone</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ persone.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ persone.nom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('persone_index') }}">back to list</a>

    <a href="{{ path('persone_edit', {'id': persone.id}) }}">edit</a>

    {{ include('persone/_delete_form.html.twig') }}
{% endblock %}
